body{
    background-color: lightblue;
}
.main{
    background-color: #ff7c40;
    height: 100%;
    width: 500px;
    box-shadow: 0px 0px 50px 0px  #222;
    margin-left: 300px;
    margin-top: 300px;
    border-radius: 8px;
    color: white;
}
input{
    margin-top: 10px;
}
.city{
    font-size: 30px;
}